

{% extends 'base.html.twig' %}
{% block header %}
    <h1>ITEM</h1>
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <h1>NAME : {{ item.name }}</h1>
        <hr>
        <h4>DESCRIPTION :</h4>
        <p>{{ item.description }}</p>
    </div>
{% endblock %}